<!DOCTYPE html>
<html>
  <head>
    <%- include('./head/head.ejs') %>
  </head>
  <body>
	<header>
    <%- include('./head/nav.ejs') %>
	</header>
	<%- include('./edit/' + content + '.ejs') %>

  </body>
</html>
