<!DOCTYPE html>
<html>
  <head>
    <%- include('./head/head.ejs') %>
  </head>
  <body>
	<header>
    <%- include('./head/nav.ejs') %>
	</header>
	<div class="container">
	<h1> <%= message %> </h1>	
	</div>
  </body>
</html>
