<!DOCTYPE html>
<html>
  <head>
   <%- include('./head/head.ejs') %>
  </head>
  <body style="background-image: url('images/welcome-bg.jpg');">
 <header class="container text-center masthead d-flex h-100">
	<div class="row align-self-center w-100">
	<div class="col-6 mx-auto">
      <h1 class="display-3 mb-1">PORTFOLIO</h1>
      <h3 class="lead mb-1">
        <em>Student Portfolio Management System</em>
      </h3>
		<h3 class="lead mb-5">
        SUHYUN YOON
      </h3>
      <a href="/users"><button type="button" class="btn btn-lg btn-primary"> View More</button></a>
    </div>
	</div>
    <div class="overlay"></div>
  </header>



  </body>
</html>
